body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Gudea', sans-serif;*/
  /*font-weight: 700;*/
}

.index-bg {
  background-image: url('http://orig13.deviantart.net/dc6e/f/2006/331/0/e/pikachu_eats_by_beebarbx.jpg');
  background-repeat: no-repeat;
  background-position: right top;
}

.header {
  font-size: 500%;
  font-weight: 700;
}

.btn, input, textarea {
  margin: 10px;
}
